<div class="loading-block  block t-a c animated fadeIn" *ngIf="loading">
<span class="loading m-3 small">
        <span class="spinner dark"></span>Loading ...</span>
</div>

<article class="animated fadeIn article" [hidden]="loading" *ngIf="data">
<h1 [title]="data['title']" [innerHTML]="data['title']"></h1>
<div class="img-responsive block t-a c">
<img [src]="data['image']" [attr.alt]="data['title']" />
</div>
<!-- StarMag Responsive -->
<div class="block t-a c" ngNonBindable id="googleAds"></div>
<div [innerHTML]="data['html']" class="t-a j article-body"></div>
</article>

<div class="lm-posts">
<div *ngFor="let lm of lmData">
	<a [title]="lm.name" 
		   [routerLink]="['/article/style', lm.id, lm.slug]" 
		   >
	<img [src]="lm.image_url" [attr.alt]="lm.description" />
</a>
	<h2><a [title]="lm.description" 
		   [routerLink]="['/article/style', lm.id, lm.slug]" 
		   [innerHTML]="lm.name">
		   	
		 </a>
		</h2>
</div>
</div>