
.article{
 text-align: left;
 margin: 6px;

 > h1{
        display: block;
        width: 100%;
        font-size: 1.8em;
        font-weight: normal;
        font-family: 'Pattaya', sans-serif;
 }   

  img{
    border-radius: 4px;
    max-width: calc(100% - 8px);
    box-shadow: 0 0 11px 0 #eaeaea;
    margin : 4px;
 }

 .article-body{
    display: block;
    color: #333;
    line-height: 1.4;
    font-size: .88em;
    font-family: 'Open Sans',Arial,sans-serif;

    a {
        text-decoration: none !important;
        color: #e74c3c !important;
        font-family: 'Saira Condensed',Arial,sans-serif;
     }
 }

@media(max-width: 600px){
    h1{
        font-size: 1.2em;
    }

    .article-body{
        font-size: .76em;
    }
}

}


.lm-posts{
    list-style: none;
    padding: 0;
    display: flex;
    font-family: 'Saira Condensed', Arial, sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
   > div{
    width: calc(50% - 24px);
    transition: .3s;
    display: inline-block;
    flex : none;
    align-self: auto;
    text-align: left;
    padding : 12px;
    @media(max-width: 600px) {
        width: calc(100% - 24px);
        >h2 {
            font-size: 1.05em;
        }
    }
     img{
        max-width: 100%;
        border-radius: 3px;
        box-shadow: 0 0 8px 0 #eaeaea;
    }

    > h2{
        display: block;
        margin-top: 6px;
        font-size: 1.4em;
        > a{
            text-decoration: none;
            color: #666;
        }
    }
   } 
}