<div class="loading-block  block t-a c animated fadeIn" *ngIf="loading">
        <span class="loading m-3 small">
                <span class="spinner dark"></span>Loading ...</span>
        </div>
        
<div *ngFor="let art of data; let i = index;" [ngClass]="i%2?'fadeInRight':'fadeInLeft'" class="article-single animated"
[class.img-hidden]="i>2">
        <h2><a (click)="scrollTop()" [title]="art.title" [innerHTML]="art.title" [routerLink]="['/article', art.id, art.slug]"></a></h2>
        <a (click)="scrollTop()" [title]="art.title" [routerLink]="['/article', art.id, art.slug]">
                <img *ngIf="i<2" [src]="art.thumb" [alt]="art.title" class="animated fadeIn" />
                <img *ngIf="i>2" src="./assets/images/preview.png" [attr.data-src]="art.thumb" [alt]="art.title" class="animated fadeIn" />
        </a>
        <p [innerHTML]="art.description"></p>
</div>

<div *ngIf="!data.length && !loading"  class="zero-results block t-a c fadeIn animated">
                <i class="fa fa-3x fa-exclamation"></i>
       <span class="block t-a c">No Data Found !</span> 
</div>

<div *ngIf="!loading && data.length" class="pagination animated fadeIn">
     <a class="t-a c" (click)="scrollTop()" [class.disabled]="previousIsDisabled" [routerLink]="[path, 'p', previouspage]" title="page {{previouspage}}">Previous</a>
     <a class="t-a c" (click)="scrollTop()" [class.disabled]="nextIsDisabled" [routerLink]="[path, 'p', nextpage]" title="page {{nextpage}}">Next</a>
</div>